{% extends "layout.html" %}
{% block title %}AlleBot - About{% endblock %}

{% block content %}


<div class="container">
    <div class="row">
        <div class="col-sm-8">

            <h2>How to use AlleBot.</h2>
            <h2>&nbsp;</h2>
            <p>1. Download ChromeDriver (save it in the AlleBot folder) from: https://chromedriver.chromium.org/</p>
            <p>2. In the "Find item" tab provide a name of item you wish to look for in the Allegro.pl website. Use filters to narrow amount of items (speeds up a search time).</p>
            <p>3. When search is done excel file with search results will be created in AlleBot folder.  </p>
        </div>
    </div>
</div>

{% endblock %}