{% extends "layout.html" %}
{% block title %}Allegro Bot{% endblock %}

{% block content %}

<div class="container">
  <h2>AlleBot Item Finder</h2>
  <form action="#" method="post">
    {{ form.hidden_tag() }}
    <div class="form-group">
      <label for="item">Item to search:</label>
<!--        {{ form.item.label(class="form-control-label") }}-->
        {{ form.item(class="form-control") }}
    </div>
      <button type="submit" name="submit" class="btn btn-outline-info">Find item</button>
       <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">Additional filters</button>
          <div id="demo" class="collapse">
              <div class="row">
                  <div class="col-sm-4">
                      <label for="price_min">Lowest price:</label>
                      {{ form.price_min(class="form-control") }}
                  </div>
                  <div class="col-sm-4">
                      <label for="price_max">Highest price:</label>
                      {{ form.price_max(class="form-control") }}
                  </div>
              </div>
          </div>
  </form>
</div>




{% endblock %}
